*{margin: 0;
 padding: 0;
}
header{
    background-image: url(img.jpg);
    background-size: cover;

}
main,footer{
  
    background-color: rgb(212, 179, 255);
}
/* .i{
    margin-left: 1223px;
} */
.hrd{
    background-color: rgb(216, 140, 95);
}
h4{
    color: rgb(0, 0, 0);
    background-color: rgb(140, 146, 143);
}
h1,h3{
    color: rgb(12, 0, 121);
}
.btns{
    background-color: rgb(255, 255, 255);
}
.note{
    color: red;
}
.about{color: green;}
.clgname{
    text-align: center;
}
main{
    line-height: 28px;}
.note{
    margin-left: 1073px;
}
/* positioning */
#Menu{
    position: relative;
    top: 1vh;
}


#ig{position: fixed;
    left: 97%;
    top: 18x;

}
#wa{
    position: fixed;
    left: 97%;
    top: 7vh;

}
name:hover{
    color: rgb(140, 146, 143);
}
/* hovering */
.input:hover{
    font-weight:10px;
}
.clgname:hover{
    font-weight: 10px;
}